body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 100%;
}

.inputs {
	display: flex;
	justify-content: space-between;
}

.input-field {
	font-size: 22px;
	padding: 10px 2px 10px 10px;
	width: 1em;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	box-shadow: 0 0 4px 3px #f0f0f0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 10em auto;
	width: 12em;
}

kbd {
	text-align: center;
	width: auto;
	margin: 40px auto 0;
	padding: 5px 15px;
	border-radius: 4px;
	background: #EEEEEE;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px #E0E0E0, inset 1px 1px 6px 2px #fff9;
}
